/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/Montserrat-Medium.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    /* Open Type Font */ url('./fonts/Montserrat-Medium.svg') format('svg'),
    /* Legacy iOS */ url('./fonts/Montserrat-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/Montserrat-Medium.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/Montserrat-Medium.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    /* Open Type Font */ url('./fonts/Montserrat-Regular.svg') format('svg'),
    /* Legacy iOS */ url('./fonts/Montserrat-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/Montserrat-Regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/Montserrat-Regular.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./fonts/Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    /* Open Type Font */ url('./fonts/Montserrat-SemiBold.svg') format('svg'),
    /* Legacy iOS */ url('./fonts/Montserrat-SemiBold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/Montserrat-SemiBold.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/Montserrat-SemiBold.woff2')
      format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    /* Open Type Font */ url('./fonts/Montserrat-Bold.svg') format('svg'),
    /* Legacy iOS */ url('./fonts/Montserrat-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/Montserrat-Bold.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/Montserrat-Bold.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular';
}
.btn {
  padding: 7px 22px;
  font-size: 16px;
  border: 1px solid black;
  display: block;
  background-color: white;
  cursor: pointer;
  &.arrow {
    &:hover {
      &::before {
        margin-top: 8px;
        height: 7px;
      }
    }
    &::before {
      content: ' ';
      transition: all 0.3s;
      font-size: 16px;
      width: 0px;
      margin-left: -7px;
      font-family: Arial;
      float: right;
      border-left: 1px solid black;
      height: 10px;
      margin-right: 3px;
      margin-top: 5px;
    }
    &::after {
      transition: all 0.3s;
      content: ' ';
      display: inline-block;
      width: 6px;
      border: solid black 1px;
      height: 6px;
      border-bottom: white;
      border-left: white;
      transform: rotate(135deg);
      margin-top: 6px;
      margin-left: 21px;
    }
  }
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
  width: 100%;
  box-sizing: border-box;
  flex: 0 0 auto;
  @include largerThan(400px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.dot {
  background-color: black;
  width: 5px;
  height: 5px;
  position: absolute;
  z-index: -1;
  border-radius: 100%;
}
.dotUtils {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}
